Kill <span><img src="<%= @target %>" /></span> with <span><img src="<%= @weapon %>" /></span><br /><br /><br />
<form method="post" action="/">

Kill <input type="text" name="target" placeholder="something" value="<%= current_target %>" /> with <input type="text" name="weapon" placeholder="something else" value="<%= current_weapon %>" /> <button type="submit">Attack!</button>

</form>
