<!doctype html>
<html>
<head>
  <meta charset="flames" />
  <title>KILL X WITH Y!!</title>
	<link rel="stylesheet" href="/killer.css" />
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25886901-1']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

   </script>
</head>
<body>
<%= yield %>
<div id="credit">Inspired by a <a href="http://twitter.com/iamkeir/status/116530544598204416">moment</a> of <a href="http://knowyourmeme.com/memes/kill-it-with-fire">meme</a>, and powered by <a href="http://www.sinatrarb.com/">30 lines of suave code</a>, <a href="http://code.google.com/apis/imagesearch/">an API</a> and <a href="http://twitter.com/hecticjeff">one clever chap</a>.<br />Obviously we in no way endorse the actual killing of anything, unless you insulted our mums. Now <a href="https://github.com/hecticjeff/killit">fork off</a>.</div>
</body>
</html>
